<div class="card-container">
  <div class="card">
    <div class="front">
      <div class="cover">
        <!-- <img src="../images/team_members/Dave_Chmura.jpg"/> -->
      </div>
      <div class="user">
        <img class="img-circle" src="images/team_members/Rick_Smoke.jpg"/>
      </div>
      <div class="content">
        <div class="main">
          <h3 class="name">Rick Smoke</h3>
          <p class="profession">Tweaker of all the Things</p>
          <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Ann Arbor, Mi</h5>
          <h5><i class="fa fa-building-o fa-fw text-muted"></i> University of Michigan - LSA Management Information Systems. </h5>
          <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> rsmoke@umich.edu</h5>
        </div>
          <div class="footer">
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
      </div>
  </div> <!-- end front panel -->
  <div class="back">
    <div class="header">
      <h5 class="motto">"Nature does not hurry, yet everything is accomplished." <em class="text-info">-- Lao Tzu</em></h5>
    </div>
    <div class="content">
      <div class="main">
        <h4 class="text-center">Experience</h4>
        <p>276000 points (Level 24 Monk)</p>
        <h4 class="text-center">Areas of Expertise</h4>
        <p><ul>
          <li>Fly Fishing</li>
          <li>PHP</li>
          <li>Bonsai</li>
          <li>JavasScript</li>
          <li>SQL</li>
          <li>ASP</li>
          <li>Scotches of the Upper and Coastal Highlands</li>
        </ul></p>
      </div>
    </div>
      <div class="footer">
        <div class="social-links text-center">
            <a href="https://www.lsa.umich.edu/facstaff/mis" class="home" target="_blank"><i class="fa fa-home fa-fw"></i></a>
            <a href="http://github.com/#" class="github" target="_blank"><i class="fa fa-github fa-fw"></i></a>
            <a href="http://bitbucket.com/#" class="bitbucket" target="_blank"><i class="fa fa-bitbucket fa-fw"></i></a>
            <a href="http://twitter.com/#" class="twitter" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
        </div>
      </div>
    </div> <!-- end back panel -->
  </div> <!-- end card -->
</div> <!-- end card-container -->